.one ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color:white;
}

.one li {
    float: left;
}

.one li a {
    display: block;
    color: #181819;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-family: Verdana;
}

.one li a:hover {
    background-color: #c1c1c9;
}
.aboutus{
	text-align: right;
	background-color: #4f6c9b
}
.get{
	text-align: center;
	font-size: 50px;
	font-family: Brush Script MT;
}
.tab p{
	font-family: Verdana;
}